p {
    /* border-style: dashed; */
    border-width: 10px;
    border-color: rgb(95, 0, 0);
    text-shadow: 2px 2px 8px #7a0056;
    margin: 0  auto;
    text-align: center;
    font-size: 35px;
    color: rgb(85, 46, 146);
    /* font-family: sans-serif ; */
    font-family: 'Brush Script MT', cursive;
    
}
h1 {
  border-style: ridge;
  border-width: 10px;
  border-color: rgb(95, 0, 0);
  text-shadow: 2px 2px 8px #7a0056;
  margin: 0  auto;
  text-align: center;
  font-size: 35px;
  color: rgb(85, 46, 146);
  font-family: 'Comic Sans MS' , cursive;
  
}
.myDiv {
  /* background-image: url('C:\Users\cbsag\Downloads\Aesthetics\1.jpg'); */
    /* background-color: rgb(0, 0, 0); */
    
    width: 60px;
    height: 60px;
    text-align: center;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 25px;
    transition: transform 10s;
  }
  .myDiv:hover{
    background-color: rgb(95, 0, 0);
    transform: rotate(360deg);
  }
 body{
    background-color:rgb(255, 255, 255);
    
     }
 .square {
     width: 400px;
     height: 400px;
         }
 
.diamond {
  background: rgb(255, 255, 255);
  width:60px;
  height: 60px;
  text-align: center;
  margin:auto;
  margin-top: 35px;
  margin-bottom: 25px;
  transform:rotate(45deg);
  
  transition: transform 1s;
}
.diamond:hover{
   background:rgb(85, 46, 146);
   transform: rotate(3600deg);
}

.circle {
  background-color: rgb(255, 255, 255);
  
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 25px;
  transition: transform 10s;
}
.circle:hover{
  background-color: rgb(95, 0, 0);
  transform: skew(360deg);
}
 /* .TP {
  background-color: rgb(255, 255, 255);
  
  width: 400px;
  height: 400px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  transition: transform 10s;
}
.TP:hover{
  background-color: rgb(95, 0, 0);
  transform: scale(1, 2);
  transform: rotate(360deg); 
}  */

#infinity {
  position: relative;
  width: 212px;
  height: 100px;
  text-align: center;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  box-sizing: content-box;
  transition: transform 10s;
}
#infinity:before,
#infinity:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 20px solid rgb(255, 255, 255);
  border-radius: 50px 50px 0 50px;
  transform: rotate(-45deg);
}
#infinity:after {
  left: auto;
  right: 0;
  border-radius: 50px 50px 50px 0;
  transform: rotate(45deg);
}
#infinity:hover{
  
/* background-color: rgb(95, 0, 0); */
  transform: scale(-1,-.5);
}
#infinity:hover::before,#infinity:hover::after {
  border: 20px solid rgb(85, 46, 146);

}
/* #infinity:hover::after {
  border: 20px solid rgb(85, 46, 146);

}
#infinity:hover::before{
  border: 20px solid rgb(95, 0, 0);

} */

/* #infinity:hover::before,#infinity:hover::after {
  border: 20px solid rgb(136, 27, 0);

} */


